.main{
    min-height: 90vh;
}
.btnDesign{
    border: none;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(to right, black, rgb(97, 75, 75)); 
    transition: 2s;
}
.btnDesign:hover {
    background-image:linear-gradient(to right,rgb(97, 75, 75),black);
}